<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.plugin.LanguagePlugin" version="0.0.1">
    <name>Habit</name>

    <description>An IOS Cordova plugin</description>
    <license>NOS</license>
	
    <engines>
        <engine name="cordova-ios" version=">=5.1.1" />
    </engines>
	
    <js-module name="LanguagePlugin" src="www/language.js">
    	<clobbers target="LanguagePlugin" />
    </js-module>
	
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="LanguagePlugin">
                <param name="ios-package" value="LanguagePlugin"/>
		<param name="onload" value="true" />
            </feature>
        </config-file>

    </platform>
</plugin>

